body {
    background-color: #FAFAFA;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header{
    height: 53px;

    background-color: white;

    border-bottom: 1px solid #D8D8D8;

    display: flex;

    justify-content: space-around;
    align-items: center;
}

/*왼쪽 상단 로고*/
#header-logo {
    width: 100px;

    background-size: contain;
}

#header-logo:hover {cursor: pointer;}

.header-item {
    width: 267px;
}

/*검색창*/
#header-search {
    position: relative;
    top:10px;
    
    width: 215px;
    height: 28px;

    padding-left: 50px;
    
    background-color: #FAFAFA;
    
    outline-style: none;

    border: 1px solid #D8D8D8;
    border-radius: 3px;

    font-size: 13px;
}

#header-search::placeholder {
    padding-right: 25px;

    text-align: center;
}

#btn-search {
    height: 15px;
    
    position: relative;

    z-index: 1px;
    top: -14px;
    left: 17px;
}

#btn-search:hover {cursor: pointer;}

/*우측 상단 버튼*/
header ul {
    width: 150px;

    display: flex;

    justify-content: space-around;
}